.flex-container {
  display: flex;
  background-color: #f1f1f1;
  margin: 100px;
  flex-direction: row-reverse;
  justify-content: center;
  flex-direction: row;
}

.search-btn{
    border-radius: 500px;
}